body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-bar {
  
  align-items: center;
  gap: 15px;
  padding: 10px;
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.main-container {
  display: flex;
  height: calc(100vh - 50px);
}

#cy {
  flex: 1;
  height: 100%;
}

#infoPanel {
  width: 300px;
  background: #fafafa;
  border-left: 1px solid #ccc;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#infoPanel.collapsed {
  width: 35px;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #e0e0e0;
  border-bottom: 1px solid #ccc;
}

#infoContent {
  padding: 10px;
  font-size: 14px;
  overflow-y: auto;
}
#ontologyContent, #infoContent {
  max-height: 45%; /* každá sekcia približne polovica */
  overflow-y: auto;
}

.canvasControls {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(245, 245, 245, 0.9);
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  gap: 6px;
  z-index: 1000; /* aby bola nad canvasom */
}

.canvasControls button {
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  font-weight: bold;
  border: 1px solid #888;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.canvasControls button:hover {
  background-color: #e0e0e0;
}
